#carousel {
    width: 440px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    border: #ccc 1px solid;
    position: relative;
}
.arrow {
    position: absolute;
    top: 0;
    padding: 0;
    background: #ddd;
    /*border-radius: 15px;*/
    /*border: 1px solid gray;*/
    border: none;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
    opacity: 0.3;
    width: 25px;
    height: 100%;
}
.arrow:focus {
    outline: none;
}
.arrow:hover {
    background: #ccc;
    cursor: pointer;
    opacity: 0.9;
}
.arrow.hidden {
    visibility: hidden;
}
.arrow.prev {
    left: 0;
}
.arrow.next {
    right: 0;
}
ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    /* убрать между inline-block li лишние пробелы, которые есть в HTML */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
    transition: all 0.5s;
}
ul img {
    width: 130px;
    height: 130px;
    /* по умолчанию inline, но в ряде браузеров это даст лишнее пространство вокруг элементов */
    display: block;
}
ul li {
    /* если в HTML между элементами <li>..</li> есть пробелы, то они будут видны на странице,
    чтобы их избежать, нужно либо писать <li>..</li><li>..</li> вплотную, либо не ставить закрывающие </li> */
    display: inline-block;
    padding: 0 10px;
}
